
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Pet Results</title>
    <link rel="stylesheet" type="text/css" href="website_outline.css">
</head>
<body>

  <%- include('../views/partials/header.ejs') %>
    <div class="container">
        <div class="side-menu">
          <nav>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/findpet">Find a dog/cat</a></li>
              <li><a href="/dogcare">Dog Care</a></li>
              <li><a href="/catcare">Cat Care</a></li>
              <li><a href="/createaccount">Create account</a></li>
              <li><a href="/giveawayapet">Giveaway A Pet</a></li>
              <li><a href="/login">Log in</a></li>
              <li><a href="/logout">Log Out</a></li>
              <li><a href="/contactus">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </div>

        <div class="content">
            <h1>Matching Pets</h1>
            <% if (petData.length > 0) { %>
                <% petData.forEach(pet => { %>
                    <div class="pet-info">
                        <h3><%= pet.petName %></h3>
                        <p>Owner name: <%= pet.username %></p>
                        <p>Type: <%= pet.petType %></p>
                        <p>Breed: <%= pet.breed %></p>
                        <p>Friendly with dogs: <%= pet.dogsFriendly %></p>
                        <p>Friendly with cats: <%= pet.catsFriendly %></p>
                        <p>Friendly with children: <%= pet.childrenFriendly %></p>
                        <p>Description: <%= pet.description %></p>
                        <br>
                        <br>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No matching pets found.</p>
            <% } %>
            
        </div>

    </div>

    <%- include('../views/partials/footer.ejs') %>

</body>
</html>